<h1> Yo </h1>
<div class="row">
  <div class="col-lg-12">
    <%= link_to new_api_v1_setup_path  do %>
      <button class="btn btn-outline-info btn-block"> Add a new Meta Weapon</button>
    <% end %>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="col-lg-4">
    <div class="row">
      <div class="col">
        <h1> SMG META ID 1</h1>
      </div>
    </div>
    <% @setups.each do |s| %>
      <ul>
        <% if s.meta_id == "1" && s.active %>
          <li> <%= link_to  s.name, edit_api_v1_setup_path(s) %>
            <%= link_to  edit_api_v1_setup_path(s) do %>
              <button class="btn btn-outline-info"> Edit </button>
            <% end %>
            <%= link_to api_v1_setup_path(s), data: {confirm: 'Are you sure ?'}, method: :delete do %>
              <button class="btn btn-outline-info"> Delete </button>
            <% end %>
            <% if s.active %>
              <span class="badge bg-info text-light">Activated</span>
            <% else %>
              <span class="badge bg-danger text-light">Not Activated</span>
            <% end %>
            <span class="badge bg-info text-light"> META ID : 
              <%= s.meta_id %></span>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="col-lg-4">
    <div class="row">
      <div class="col">
        <h1> AR META ID 2</h1>
      </div>
    </div>
    <% @setups.each do |s| %>
      <ul>
        <% if s.meta_id == "2" && s.active %>
          <li> <%= link_to  s.name, edit_api_v1_setup_path(s) %>
            <%= link_to  edit_api_v1_setup_path(s) do %>
              <button class="btn btn-outline-info"> Edit </button>
            <% end %>
            <%= link_to api_v1_setup_path(s), data: {confirm: 'Are you sure ?'}, method: :delete do %>
              <button class="btn btn-outline-info"> Delete </button>
            <% end %>
            <% if s.active %>
              <span class="badge bg-info text-light">Activated</span>
            <% else %>
              <span class="badge bg-danger text-light">Not Activated</span>
            <% end %>
            <span class="badge bg-info text-light"> META ID : 
              <%= s.meta_id %></span>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="col-lg-4">
    <div class="row">
      <div class="col">
        <h1> BR RIFLE META ID 3</h1>
      </div>
    </div>
    <% @setups.each do |s| %>
      <ul>
        <% if s.meta_id == "3" && s.active %>
          <li> <%= link_to  s.name, edit_api_v1_setup_path(s) %>
            <%= link_to  edit_api_v1_setup_path(s) do %>
              <button class="btn btn-outline-info"> Edit </button>
            <% end %>
            <%= link_to api_v1_setup_path(s), data: {confirm: 'Are you sure ?'}, method: :delete do %>
              <button class="btn btn-outline-info"> Delete </button>
            <% end %>
            <% if s.active %>
              <span class="badge bg-info text-light">Activated</span>
            <% else %>
              <span class="badge bg-danger text-light">Not Activated</span>
            <% end %>
            <span class="badge bg-info text-light"> META ID : 
              <%= s.meta_id %></span>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="col-lg-4">
    <div class="row">
      <div class="col">
        <h1> LMG META ID 4</h1>
      </div>
    </div>
    <% @setups.each do |s| %>
      <ul>
        <% if s.meta_id == "4" && s.active %>
          <li> <%= link_to  s.name, edit_api_v1_setup_path(s) %>
            <%= link_to  edit_api_v1_setup_path(s) do %>
              <button class="btn btn-outline-info"> Edit </button>
            <% end %>
            <%= link_to api_v1_setup_path(s), data: {confirm: 'Are you sure ?'}, method: :delete do %>
              <button class="btn btn-outline-info"> Delete </button>
            <% end %>
            <% if s.active %>
              <span class="badge bg-info text-light">Activated</span>
            <% else %>
              <span class="badge bg-danger text-light">Not Activated</span>
            <% end %>
            <span class="badge bg-info text-light"> META ID : 
              <%= s.meta_id %></span>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>

<hr>
<hr>
<hr>

<div class="row">
  <div class="col">
    <% @setups.each do |s| %>
      <ul>
          <% if !s.active  %> 
          <li> <%= link_to  s.name, edit_api_v1_setup_path(s) %>
            <%= link_to  edit_api_v1_setup_path(s) do %>
              <button class="btn btn-outline-info"> Edit </button>
            <% end %>
            <%= link_to api_v1_setup_path(s), data: {confirm: 'Are you sure ?'}, method: :delete do %>
              <button class="btn btn-outline-info"> Delete </button>
            <% end %>
            <% if s.active %>
              <span class="badge bg-info text-light">Activated</span>
            <% else %>
              <span class="badge bg-danger text-light">Not Activated</span>
            <% end %>
            <span class="badge bg-info text-light"> META ID : 
              <%= s.meta_id %></span>
          </li>   
           <% end %>
      </ul>
      <% end %>
  </div>
</div>
