<div class="row">
  <div class="col-md-8 offset-2">
    <div class="container p-3 my-3 border text-center">
      <h1> Weapons Setups Creations </h1>
    </div>

    <div class="row">
      <div class="col-md-8 offset-2">
        <ul>
          <% @setup.errors.full_messages.each do |error| %>
            <li style="color: red"> <%= error %> </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="container p-3 my-3 border">
      <%= form_with model: [:api, :v1, @setup], local: true do |f|%>
        
        
        <%= render partial: "shared/formAttachment", locals: {f: f} %>


        <div class="form-group">
          <%= f.label :magazine, "Magazine Size" %>
          <%= f.number_field :magazine, {class: "form-control", placeholder: "Nb of ammo"} %>
        </div>
        
        <div class="form-group">
          <%= f.label :meta_id, "Meta_id" %>
          <%= f.number_field :meta_id, {class: "form-control", placeholder: "id of graph"} %>
        </div>


        <div class="form-group">
          <%= f.label :active, "Do you want to activate this meta weapon ? " %>
          <%= f.check_box :active %>
        </div>



        <%= f.submit "Create Setups MEta ", class:"btn btn-outline-success " %>
      <% end %>
    </div>
  </div>
</div>
    <%= debug(params) if Rails.env.development? %>



        