<h1>Weapons index</h1>

<% @weapons.each do |w| %>
<ul>
<li>
<%= link_to  w.name , api_v1_weapon_path(w) %>,
 type: <%= w.type.name %>, id type: <%= w.type.id %>,
   <%= link_to  "edit " + w.name , edit_api_v1_weapon_path(w, type_id: w.type.id) %>

   ****<%= link_to  "Delete", api_v1_weapon_path(w, type_id: w.type.id), data: {:confirm => "Sure ?"}, :method => :delete %>****
    </li>

</ul>
<% end %>


<button class="btn btn-outline-primary"><%= link_to  "Back to Weapon Types", api_v1_types_path %> </button>