<div class="row">
  <div class="col-md-4">
    <div class="row">
      <div class="col">
        <h1><%= @weapon.name %></h1>
      </div>
      <div class="col">
        <h2><%= @weapon.type.name %></h2>
      </div>
      <div class="col">
        <h2><%= @weapon.rpm %></h2>
      </div>
      <div class="col">
        <%= link_to api_v1_weapon_recoils_path(@weapon) do %>
          <button class="btn btn-info"> Recoil data </button>
        <% end %>
      </div>
      <div class="col">
        <%= link_to new_api_v1_weapon_recoil_path(@weapon) do  %>
          <button class="btn btn-info"> New Recoil </button>
        <% end %>
      </div>
      <div class="col">
        <button class="btn btn-outline-primary">
          <%= link_to  "Back to : " + @weapon.type.name , api_v1_weapons_path(id: @weapon.type.id) %>
        </button>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>


<br>
<br>
<br>
<div class="row">
  <div class="col">
    <button class="btn btn-outline-primary"><%= link_to  "New Muzzle", new_api_v1_weapon_muzzle_path(@weapon) %> </button>  <br>
    <button class="btn btn-outline-primary"><%= link_to  "Muzzle List", api_v1_weapon_muzzles_path(@weapon) %></button>
    <div class="row">
      <div class="col attachment-list">
        <ul>
          <% @weapon.muzzles.each do |c| %>
            <li>
              <h3><%= link_to c.name, edit_api_v1_weapon_muzzle_path(@weapon, c.id) %> </h3>
              <%= link_to api_v1_weapon_muzzle_muzzle_recoils_path(@weapon, c) do %>
                <button class="btn btn-outline-primary"> Recoil Stats</button>
              <% end %>
              <%= link_to new_api_v1_weapon_muzzle_muzzle_recoil_path(@weapon, c) do %>
                <button class="btn btn-outline-primary"> Add Recoil Data</button>
              <% end %>
            </li>
            <br>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col">
    <button class="btn btn-outline-primary"><%= link_to  "New Canon", new_api_v1_weapon_canon_path(@weapon) %> </button>
    <button class="btn btn-outline-primary"><%= link_to  "Canons List", api_v1_weapon_canons_path(@weapon) %></button>
    <div class="row">
      <div class="col  attachment-list">
        <ul>
          <% @weapon.canons.each do |c| %>
            <li>
              <h3><%= link_to c.name, edit_api_v1_weapon_canon_path(@weapon, c.id) %> </h3>
              <%= link_to api_v1_weapon_canon_canon_recoils_path(@weapon, c) do %>
                <button class="btn btn-outline-primary"> Recoil Stats</button>
              <% end %>
              <%= link_to new_api_v1_weapon_canon_canon_recoil_path(@weapon, c) do %>
                <button class="btn btn-outline-primary"> Add Recoil Data</button>
              <% end %>
            </li>
            <br>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col">
    <button class="btn btn-outline-primary"><%= link_to  "New Laser", new_api_v1_weapon_laser_path(@weapon) %> </button>
    <button class="btn btn-outline-primary"><%= link_to  "Lasers List", api_v1_weapon_lasers_path(@weapon) %></button>
    <div class="row">
      <div class="col  attachment-list">
        <ul>
          <% @weapon.lasers.each do |c| %>
            <li><%= link_to c.name, edit_api_v1_weapon_laser_path(@weapon, c.id) %>
              <%= link_to api_v1_weapon_laser_laser_recoils_path(@weapon, c) do %>
                <button class="btn btn-outline-primary"> Recoil Stats</button>
              <% end %>
              <%= link_to new_api_v1_weapon_laser_laser_recoil_path(@weapon, c) do %>
                <button class="btn btn-outline-primary"> Add Recoil Data</button>
              <% end %>
            </li>
            <br>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col">
    <button class="btn btn-outline-primary"><%= link_to  "New Sight", new_api_v1_weapon_optic_path(@weapon) %> </button>
    <button class="btn btn-outline-primary"><%= link_to  "Sights List", api_v1_weapon_optics_path(@weapon) %></button>
    <div class="row">
      <div class="col  attachment-list">
        <ul>
          <% @weapon.optics.each do |c| %>
            <li><%= link_to c.name, edit_api_v1_weapon_optic_path(@weapon, c.id) %></li>
            <%= link_to api_v1_weapon_optic_optic_recoils_path(@weapon, c) do %>
              <button class="btn btn-outline-primary"> Recoil Stats</button>
            <% end %>
            <%= link_to new_api_v1_weapon_optic_optic_recoil_path(@weapon, c) do %>
              <button class="btn btn-outline-primary"> Add Recoil Data</button>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col">
    <button class="btn btn-outline-primary"><%= link_to  "New Stock", new_api_v1_weapon_stock_path(@weapon) %> </button>
    <button class="btn btn-outline-primary"><%= link_to  "Stocks List", api_v1_weapon_stocks_path(@weapon) %></button>
    <div class="row">
      <div class="col  attachment-list">
        <ul>
          <% @weapon.stocks.each do |c| %>
            <li><%= link_to c.name, edit_api_v1_weapon_stock_path(@weapon, c.id) %></li>
            <%= link_to api_v1_weapon_stock_stock_recoils_path(@weapon, c) do %>
              <button class="btn btn-outline-primary"> Recoil Stats</button>
            <% end %>
            <%= link_to new_api_v1_weapon_stock_stock_recoil_path(@weapon, c) do %>
              <button class="btn btn-outline-primary"> Add Recoil Data</button>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col">
    <button class="btn btn-outline-primary"><%= link_to  "New Underbarrel", new_api_v1_weapon_underbarrel_path(@weapon) %> </button>
    <button class="btn btn-outline-primary"><%= link_to  "Underbarrels List", api_v1_weapon_underbarrels_path(@weapon) %></button>
    <div class="row">
      <div class="col  attachment-list">
        <ul>
          <% @weapon.underbarrels.each do |c| %>
            <li><%= link_to c.name, edit_api_v1_weapon_underbarrel_path(@weapon, c.id) %></li>
            <%= link_to api_v1_weapon_underbarrel_underbarrel_recoils_path(@weapon, c) do %>
              <button class="btn btn-outline-primary"> Recoil Stats</button>
            <% end %>
            <%= link_to new_api_v1_weapon_underbarrel_underbarrel_recoil_path(@weapon, c) do %>
              <button class="btn btn-outline-primary"> Add Recoil Data</button>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col">
    <button class="btn btn-outline-primary"><%= link_to  "New Ammo ", new_api_v1_weapon_munition_path(@weapon) %> </button>
    <button class="btn btn-outline-primary"><%= link_to  "Ammo List", api_v1_weapon_munitions_path(@weapon) %></button>
    <div class="row">
      <div class="col  attachment-list">
        <ul>
          <% @weapon.munitions.each do |c| %>
            <li><%= link_to c.name, edit_api_v1_weapon_munition_path(@weapon, c.id) %></li>
            <%= link_to api_v1_weapon_munition_munition_recoils_path(@weapon, c) do %>
              <button class="btn btn-outline-primary"> Recoil Stats</button>
            <% end %>
            <%= link_to new_api_v1_weapon_munition_munition_recoil_path(@weapon, c) do %>
              <button class="btn btn-outline-primary"> Add Recoil Data</button>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col">
    <button class="btn btn-outline-primary"><%= link_to  "New Grip", new_api_v1_weapon_grip_path(@weapon) %> </button>
    <button class="btn btn-outline-primary"><%= link_to  "Grips List", api_v1_weapon_grips_path(@weapon) %></button>
    <div class="row">
      <div class="col  attachment-list">
        <ul>
          <% @weapon.grips.each do |c| %>
            <li><%= link_to c.name, edit_api_v1_weapon_grip_path(@weapon, c.id) %></li>
            <%= link_to api_v1_weapon_grip_grip_recoils_path(@weapon, c) do %>
              <button class="btn btn-outline-primary"> Recoil Stats</button>
            <% end %>
            <%= link_to new_api_v1_weapon_grip_grip_recoil_path(@weapon, c) do %>
              <button class="btn btn-outline-primary"> Add Recoil Data</button>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col">
    <button class="btn btn-outline-primary"><%= link_to  "New Perk", new_api_v1_weapon_perk_path(@weapon) %> </button>
    <button class="btn btn-outline-primary"><%= link_to  "Perks List", api_v1_weapon_perks_path(@weapon) %></button>
    <div class="row">
      <div class="col  attachment-list">
        <ul>
          <% @weapon.perks.each do |c| %>
            <li><%= link_to c.name, edit_api_v1_weapon_perk_path(@weapon, c.id) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<div class="row">
  <div class="col-md-6 offset-3">
    <% if @weapon.image.attached? %>
      <%= image_tag( @weapon.image, :class=> "img-fluid")  %>
      <%= url_for(@weapon.image) %>
    <% end %>
  </div>
</div>
