<h1> Add  ONE RECOIL CHART FOR <%= @muzzle.name%> <%= @weapon.name%> </h1>


<%= form_with model: [:api, :v1, @weapon, @muzzle, @muzzle_recoil], local: true do |f|%>
        
        <%= render  partial: "shared/recoilAttachment", locals: {f: f, attachement: @muzzle} %>

      
        
        

        <% end%>