<h1 class="text-center">Edit a post </h1>
<div class="row">
    <div class="col-md-10 offset-1">
<%=  form_with model: @blog, local: true do |f| %>

   <div class="form-group">
          <%= f.label :title, "title" %>
          <%= f.text_field :title, {class: "form-control", placeholder: "your title"} %>
 </div>

  <div class="form-group">
          <%= f.label :description, "short description" %>
          <%= f.text_area :description, {class: "form-control", placeholder: "short description"} %>
 </div>

 <div class="form-group">
          <%= f.label :featured, "featured" %>
          <%= f.number_field :featured, {class: "form-control", placeholder: "make featured"} %>
 </div>

 <div class="form-group">
          <%= f.label :text_area_1, "text area 1" %>
          <%= f.text_area :text_area_1, {class: "form-control", placeholder: "your text"} %>
 </div>

<div class="form-group">
          <%= f.label :body, "Trix body" %>
          <%= f.rich_text_area :body %>
 </div>

<div class="form-group">
          <%= image_tag(@blog.illustration, height: '300' , width: '300') %>
          <%= f.label :illustration, "image " %>
          <%= f.file_field :illustration %>
 </div>

 <div class="form-group">
          <%= f.label :show_illustration, "show illustration ? (default yes) " %>
          <%= f.check_box :show_illustration %>
</div>
        

 <div class="form-group">

          <%= @blog.image_1.attached? && image_tag(@blog.image_1, height: '300' , width: '300') %>
          <%= f.label :image_1, "image " %>
          <%= f.file_field :image_1 %>
 </div>

 <div class="form-group">
        
       <%= f.submit "save ", class: "btn btn-outline-info btn-block"%> 
</div>

<% end %>


