 <% provide(:title, "Warzone News") %>
 
 <% if user_signed_in? && current_user.admin %>
  <div class="row ">
    <div class="col admin-bar">
      <div>
        <%= link_to new_blog_path do  %>
          <button class="btn btn-info"> Add post</button>
        <% end %>
      </div>
      <% if @bigfeature %>
        <div>
          <%= link_to edit_blog_path(@bigfeature) do  %>
            <button class="btn btn-info">  Edit Jumbo</button>
          <% end %>
          <%= link_to blog_path(@bigfeature), method: :delete, data: {confirm: "are you sure ???"} do  %>
            <button class="btn btn-danger"> Delete Jumbo </button>
          <% end %>
        </div>
      <% end %>
      <% if @smalltopfeature %>
        <div>
          <%= link_to edit_blog_path(@smalltopfeature) do  %>
            <button class="btn btn-info">  Edit Small Top Feature</button>
          <% end %>
          <%= link_to blog_path(@smalltopfeature), method: :delete, data: {confirm: "are you sure ???"} do  %>
            <button class="btn btn-danger"> Delete Small Top Feature </button>
          <% end %>
        </div>
      <% end %>
      <% if @smallbotfeature %>
        <div>
          <%= link_to edit_blog_path(@smallbotfeature) do  %>
            <button class="btn btn-info">  Edit Small Bot Feature</button>
          <% end %>
          <%= link_to blog_path(@smallbotfeature), method: :delete, data: {confirm: "are you sure ???"} do  %>
            <button class="btn btn-danger"> Delete Small Bot Feature </button>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-lg-10 offset-lg-1 col-12">
    <div class="row">
      <div class="col-lg-8 col-8">
        <% if @bigfeature %>
          <div class="jumbo-box">
            <%= link_to  blog_path(@bigfeature) do %>
              <%= image_tag( @bigfeature.illustration.variant(resize_to_fill: [1030,580], quality: 50), class: "img-fluid big-card") %>
              <h1 class="carousel-caption big-text"> <%= @bigfeature.title %> <br>
                <span class="small-text"> <%= @bigfeature.description %></span>
              </h1>
            <% end %>
          </div >
        <% else %>
          <%= image_tag( "season2Meta.jpg", class: "img-fluid big-card") %>
        <% end %>
      </div>
      <div class="col-lg-4 col-4">
        <% if @smalltopfeature %>
          <div class="jumbo-box">
            <%= link_to  blog_path(@smalltopfeature) do %>
              <%= image_tag(@smalltopfeature.illustration.variant(resize_to_fill: [500,279], quality: 50), class: "img-fluid big-card first-one") %>
              <h1 class="carousel-caption big-text" id="top-text"> <%= @smalltopfeature.title %> <br>
                <span class="small-text"> <%= @smalltopfeature.description %></span>
              </h1>
            <% end %>
          </div >
        <% else %>
          <%= image_tag("Call-of-Duty-warzone-3.jpg", class: "img-fluid big-card first-one") %>
        <%end %>
        <div class="row spacing-row">
          <div class="col">
            <% if @smallbotfeature %>
              <div class="jumbo-box">
                <%= link_to  blog_path(@smallbotfeature) do %>
                  <%= image_tag(@smallbotfeature.illustration.variant(resize_to_fill: [500,279], quality: 50), class: "img-fluid big-card first-one") %>
                  <h1 class="carousel-caption big-text" id="top-text"> <%= @smallbotfeature.title %> <br>
                    <span class="small-text"> <%= @smallbotfeature.description %></span>
                  </h1>
                <% end %>
              </div >
            <% else %>
              <%= image_tag( "Call-of-Duty-warzone-3.jpg", class: "img-fluid big-card") %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <% @blogs.each do |b| %>
        <div class="col-lg-3 col-6 no-link-decoration">
          <%= link_to blog_path(b) do  %>
            <div class="card  mini-card">
              <%= image_tag(b.illustration.variant(resize_to_fill: [300, 200], quality: 50), class: "card-img-top") %>
              <div class="card-body body-css">
                <h5 class="card-title"> <%= b.title %></h5>
                <p class="card-text "><%= b.description %></p>
                <p class="card-text ">  <%= b.created_at.strftime("Posted the : %m/%d/%Y")%></p>

                <% if user_signed_in? && current_user.admin %>
                  <div>
                    <%= link_to  edit_blog_path(b) do %>
                      <button class="btn btn-info"> Edit </button>
                    <% end %>
                    <%= link_to  blog_path(b), method: :delete, data: {:confirm => "are you sure ???"} do %>
                      <button class="btn btn-danger"> Destroy </button>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
<div class ="row">
  <div class ="col-12" id="paginate-links">
    <% if @page > 0 %>
      <%= link_to  "previous page", blogs_path(page: @page - 1 ) %>
      |
    <% end %>
    <%= link_to  "next page", blogs_path(page: @page + 1 ) %>
  </div>
</div>


