<h1 class="text-center">Create a new post </h1>
<div class="row">
    <div class="col-md-10 offset-1">
<%=  form_with model: @blog, local: true do |f| %>
<% if @blog.errors.any? %>
    <ul>
            <%@blog.errors.full_messages.each do |error|%>

        <li style="color: red"><%= error %> </li>
        <% end %>
    </ul>
<% end %>

   <div class="form-group">
          <%= f.label :title, "title" %>
          <%= f.text_field :title, {class: "form-control", placeholder: "make title"} %>
 </div>

 <div class="form-group">
          <%= f.label :description, "short description" %>
          <%= f.text_area :description, {class: "form-control", placeholder: "short description"} %>
 </div>



 <div class="form-group">
          <%= f.label :featured, "featured  0 = no featured , 1 = jumbo, 2 = top right, 3 = bottom right" %>
          <%= f.number_field :featured, {class: "form-control", placeholder: "make featured"} %>
 </div>

 <div class="form-group">
          <%= f.label :text_area_1, "Text area 1" %>
          <%= f.text_area :text_area_1, {class: "form-control", placeholder: "your text"} %>
 </div>

<div class="form-group">
          <%= f.label :body, "Trix body" %>
          <%= f.rich_text_area :body %>
 </div>

<div class="form-group">
          <%= f.label :illustration, "illustration " %>
          <%= f.file_field :illustration %>
 </div>

<div class="form-group">
          <%= f.label :show_illustration, "show illustration ? (default yes) " %>
          <%= f.check_box :show_illustration %>
</div>
        
 <div class="form-group">
          <%= f.label :image_1, "image 1" %>
          <%= f.file_field :image_1 %>
 </div>

 <div class="form-group">
        
       <%= f.submit "save " , class: "btn btn-outline-info btn-block"%> 
</div>

<% end %>

