<% provide(:title, @blog.title )%>
<% if user_signed_in? && current_user.admin %>
  <div class="row  admin-bar">
    <div class="col show-admin">
      <%= link_to new_blog_path do  %>
        <button class="btn btn-primary show-admin-button"> Add post</button>
      <% end %>
     

      
      <%= link_to edit_blog_path(@blog) do  %>
        <button class="btn btn-info show-admin-button"> Edit post</button>
      <% end %>
     

        
      <%= link_to blog_path(@blog), method: :delete, data: {confirm: "are you sure ?"} do  %>
        <button class="btn btn-danger show-admin-button"> Destroy post</button>
      <% end %>
      </div> 
    </div>
<% end %>


<div class="row">
  <div class="col-12 ">
    <div class="image-container">
    <% if @blog.show_illustration %>
    <%= image_tag(@blog.illustration.variant(resize_to_fill: [800,400], quality: 100), class: "img-fluid title-image-show") %>
    <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-8 offset-lg-2 col-12">
    <h1 class="title-blog-show"> <%= @blog.title %></h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-8 offset-lg-2 col-12">
        <p class="date-blog-show">  <%= @blog.created_at.strftime("Posted the : %m/%d/%Y")%></p>
  </div>
</div>


<br><br><br>
<div class="row">
  <div class="col-lg-6 offset-lg-3 col-12">
    <div class="text-area-show"> <%= @blog.text_area_1.html_safe %></div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <% if @blog.image_1.attached?  %>
    <div class="image-container">
      <%=  image_tag(@blog.image_1.variant(resize_to_fill: [600, 600], quality: 50), class: "img-fluid") %>
      </div >
    <% end %>
  </div>
</div>

<div class="container body-style">

  <%= @blog.body %>
</div>


<div class="row">
  <div class="col-lg-8 offset-lg-2">
<div id="disqus_thread" class="disqus-placement"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    
    var disqus_config = function () {
    this.page.url = '<%= url_for(controller: 'blogs', action: 'show', only_path: false) %>';  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = '<%= @blog.id %>'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://warzoneweapons.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
</div>