<h1> Edit  ONE RECOIL CHART FOR <%= @optic.name%> <%= @weapon.name%> </h1>


<%= form_with model: [:api, :v1, @weapon, @optic, @optic_recoil], local: true do |f|%>
        
        <%= render  partial: "shared/recoilAttachment", locals: {f: f, attachement: @optic} %>

      
        
        

        <% end%>

        <br>

         <%=  link_to   api_v1_weapon_optic_optic_recoil_path(@weapon, @optic, @optic_recoil), method: :delete, data: {confirm: "Are you sure ?"} do %>
                <button class="btn btn-outline-info "> DELETE THIS RECOIL SPREAD FROM THE DB</button>
      <% end %>