<h1> Add  ONE RECOIL CHART FOR <%= @optic.name%> <%= @weapon.name%> </h1>


<%= form_with model: [:api, :v1, @weapon, @optic, @optic_recoil], local: true do |f|%>
        
        <%= render  partial: "shared/recoilAttachment", locals: {f: f, attachement: @optic} %>

      
        
        

        <% end%>