<h1> Weapon <%= @weapon.name %> perk Attachement List </h1>

<ul>
<% @perks.each do |c| %>
<li><%= c.name %>
<%= link_to  "Edit", [:edit, :api, :v1, @weapon, c ] %>

</li>
<% end %>

</ul>

<button class="btn btn-outline-primary">  <%= link_to "Back ", api_v1_weapon_path(@weapon) %> </button> 