<h1> Edit  ONE RECOIL CHART FOR <%= @munition.name%> <%= @weapon.name%> </h1>


<%= form_with model: [:api, :v1, @weapon, @munition, @munition_recoil], local: true do |f|%>
        
        <%= render  partial: "shared/recoilAttachment", locals: {f: f, attachement: @munition} %>

      
        
        

        <% end%>


        <br>
      <%=  link_to   api_v1_weapon_munition_munition_recoil_path(@weapon, @munition, @munition_recoil), method: :delete, data: {confirm: "Are you sure ?"} do %>
                <button class="btn btn-outline-info "> DELETE THIS RECOIL SPREAD FROM THE DB</button>
      <% end %>


      