<h1> Add  ONE RECOIL CHART FOR <%= @munition.name%> <%= @weapon.name%> </h1>


<%= form_with model: [:api, :v1, @weapon, @munition, @munition_recoil], local: true do |f|%>
        
        <%= render  partial: "shared/recoilAttachment", locals: {f: f, attachement: @munition} %>

      
        
        

        <% end%>