<div class="row">
  <div class="col-md-8 offset-2">
    <div class="container p-3 my-3 border text-center">
      <h1> Weapons munition Creations </h1>
    </div>
    <div class="container p-3 my-3 border">
      <%= form_with model: [:api, :v1, @weapon, @munition], local: true do |f|%>
        
        <%= render  partial: "shared/formAttachment", locals: {f: f} %>

         <div class="form-group">
          <%= f.label :magazine, "Magazine Size" %>
          <%= f.number_field :magazine, {class: "form-control", placeholder: "Nb of ammo"} %>
        </div>
        
        <%= f.submit "Update munition attachement", class:"btn btn-outline-success " %>
      <% end %>
    </div>
  </div>
</div>
    <%= debug(params) if Rails.env.development? %>


<div class="row">
      <div class="col-2">
      </div>
    <div class="col col-offset-4">
    

        <h1>Hip Fire Recoil</h1>

        <%= render partial: "shared/hip_fires_attachement", locals: {weapon: @weapon, hipfireable: @hip_fires, attachement: @munition, link: "munition"} %>
        <div class="row">
          <div class="col4">
            <%= render partial: "shared/hip_fires_attachement_new", locals: {weapon: @weapon, attachement: @munition, type: :munition} %>
          </div>
        </div>

    </div>
</div>