<div class="row">
  <div class="col-md-8 offset-2">
    <div class="container p-3 my-3 border text-center">
      <h1> Weapons Types Creations </h1>
    </div>
    <div class="container p-3 my-3 border">
      <%= form_with model: [:api, :v1, :weapon, @munition], local: true do |f|%>
        
        
        <%= render partial: "shared/formAttachment", locals: {f: f} %>

        <div class="form-group">
          <%= f.label :magazine, "Magazine Size" %>
          <%= f.number_field :magazine, {class: "form-control", placeholder: "Nb of ammo"} %>
        </div>
        
        <%= f.submit "Create munition attachement", class:"btn btn-outline-success " %>
      <% end %>
    </div>
  </div>
</div>
    <%= debug(params) if Rails.env.development? %>



        