<h1> Weapon <%= @weapon.name %> Muzzle Attachement List </h1>

<%= link_to  api_v1_weapon_path(@weapon) do %>
<button class="btn btn-outline-primary"> <%= @weapon.name + 'Control Panel' %>  </button>
<% end %>
<ul>
<% @muzzles.each do |c| %>
<li><%= c.name %>
<%= link_to  "Edit", [:edit, :api, :v1, @weapon, c ] %>

</li>
<% end %>

</ul>

<button class="btn btn-outline-primary">  <%= link_to "Back ", api_v1_weapon_path(@weapon) %> </button> 