<div class="recoil-hip">

<ul>

<% hipfireable.each do |hip| %>

<li> data X = <%= hip.xaxis%> , X = <%= hip.yaxis%>, area : <%= (hip.yaxis * hip.xaxis) / 1000 %>
<%= link_to  "delete", api_v1_weapon_hip_fire_path( weapon, hip.id), method: :delete, data:{confirm: "are you sure ?"}, remote: true %>

</li>


<% end %>


</ul>

<h2> Moyenne Spread : <%= average_hip_fire(hipfireable) %> </h2>
<h2> Weapon Value : <%= weapon.hip_fire_cone %> </h2>
<h2> Modifier to report (base - moyenne) : <%= net_hip_fire(hipfireable, weapon.hip_fire_cone) %> </h2>

</div>