<%= form_with model: [:api, :v1, weapon, attachement, @hip_fire] do |f| %>

        <div class="form-group">
          <%= f.label :yaxis, "yaxis" %>
          <%= f.number_field :yaxis, {class: "form-control", placeholder: " yaxis ", step: 0.01} %>
        </div>

         <div class="form-group">
          <%= f.label :xaxis, "xaxis" %>
          <%= f.number_field :xaxis, {class: "form-control", placeholder: " xaxis ", step: 0.01} %>
        </div>


      <%= f.submit "create one spread", class:"btn btn-outline-success " %>  


<% end %>

