<nav class="navbar navbar-expand-lg navbar-light mb-3">
  

  <%=link_to  image_tag( asset_path("warzoneweapon.png"), width: "150"), root_path, class: "navbar-brand" %>

   <div class="d-lg-none nav-div">
  
         <%= link_to  warzone_weapons_builder_path, data: {turbolinks: false}, class: "nav-link " do %>
            <button class="btn btn-lg btn-outline-dark nav-button"> Weapon Builder </button>
         <% end %>
   
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

 

  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
     
      <li class="nav-item active">
        <%=link_to  "Weapons builder", warzone_weapons_builder_path, data: {turbolinks: false}, class: "nav-link" %>
      </li>

       <li class="nav-item active">
        <%=link_to  "Weapons Comparison", warzone_weapons_builder_path, data: {turbolinks: false}, class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%=link_to  "Meta Weapons", '/', class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%=link_to  "Best Settings", '/', class: "nav-link" %>
      </li>
      <% if user_signed_in? && current_user.admin %>
        <li class="nav-item active">
          <%=link_to  "Admin", admin_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav-link") %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to('Signup', new_user_registration_path, class: "nav-link") %>
        </li>
        <li class="nav-item">
          <%= link_to('Login', new_user_session_path, class: "nav-link") %>
        </li>
      <% end %>
    </ul>
</div>
    
  
</nav>
