


<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col"><%= attachement.name %></th>
      <th scope="col">Vertical 0 point</th>
      <th scope="col">Vertical 10 point</th>
      <th scope="col">Vertical 20 point</th>
      <th scope="col">Vertical full point</th>
      <th scope="col">Horizontal 0 point</th>
      <th scope="col">Horizontal 10 point</th>
      <th scope="col">Horizontal 20 point</th>
      <th scope="col">Horizontal full point</th>
     
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"> edit </th>
      <td><%= f.number_field :vertical_recoil_first_0, {class: "form-control", placeholder: "vertical_recoil starting pixel ", step: 0.01} %> </td>
       <td><%= f.number_field :vertical_recoil_first_10, {class: "form-control", placeholder: "vertical_recoil 10 bullets", step: 0.01} %> </td>
      <td><%= f.number_field :vertical_recoil_first_20, {class: "form-control", placeholder: "vertical_recoil 20 bullets", step: 0.01} %></td>
      <td><%= f.number_field :vertical_recoil, {class: "form-control", placeholder: "Vertical recoil", step: 0.01} %></td>

      <td><%= f.number_field :horizontal_recoil_first_0, {class: "form-control", placeholder: "horizontal_recoil starting pixel", step: 0.01} %></td>
      <td><%= f.number_field :horizontal_recoil_first_10, {class: "form-control", placeholder: "horizontal_recoil 10 bullets", step: 0.01} %></td>
      <td><%= f.number_field :horizontal_recoil_first_20, {class: "form-control", placeholder: "horizontal_recoil 20 bullets", step: 0.01} %></td>
    <td><%= f.number_field :horizontal_recoil, {class: "form-control", placeholder: "horizontal_recoil full spread", step: 0.01} %></td>
      
    </tr>
     
    </tbody>
    </table>

       <%= f.submit "save " , class: "btn btn-outline-info "%> 
    
