<h1> Edit  ONE RECOIL CHART FOR <%= @stock.name%> <%= @weapon.name%> </h1>


<%= form_with model: [:api, :v1, @weapon, @stock, @stock_recoil], local: true do |f|%>
        
        <%= render  partial: "shared/recoilAttachment", locals: {f: f, attachement: @stock} %>

      
        
        

        <% end%>

          <br>

         <%=  link_to   api_v1_weapon_stock_stock_recoil_path(@weapon, @stock, @stock_recoil), method: :delete, data: {confirm: "Are you sure ?"} do %>
                <button class="btn btn-outline-info "> DELETE THIS RECOIL SPREAD FROM THE DB</button>
      <% end %>