<h1> Add  ONE RECOIL CHART FOR <%= @stock.name%> <%= @weapon.name%> </h1>


<%= form_with model: [:api, :v1, @weapon, @stock, @stock_recoil], local: true do |f|%>
        
        <%= render  partial: "shared/recoilAttachment", locals: {f: f, attachement: @stock} %>

      
        
        

        <% end%>