<h1> YOU ARE ADMIN :<%= @admin.email %> admin : <%= @admin.admin %></h1>


<ul>

<li>
<%= link_to  "Add  types", new_api_v1_type_path %>
</li>
<li>
<%= link_to  "Weapons console", api_v1_types_path %>
</li>

<li>
<%= link_to  "Meta Console", api_v1_setups_path %>
</li>

<li>
<%= link_to "Weapons Table exel" , table_path%>
</li>

<ul>