<div class="row">

    
        <div class="col">
                <h1 class="text-center"> Warzone Weapons Central  </h1>

                <img src=<%=asset_path("placeholder.jpg")%> class="img-fluid rounded" alt="warzone" /> 
            

        </div>

        
    </div>