<div class="row">
  <div class="col-lg-1">
  </div>
  <div class="col-lg-10">


  <table class="table table-dark table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">RPM</th>
      <th scope="col">Magazine</th>
      <th scope="col">reload_time</th>
      <th scope="col">ads_time </th>
      <th scope="col"> sprint_to_fire</th>
      <th scope="col"> movement</th>
      <th scope="col"> ads_movement</th>
      <th scope="col">hip_fire_cone </th>
      <th scope="col">bullet_velocity </th>
      <th scope="col">bounce </th>
      <th scope="col"> vertical_recoil</th>
      <th scope="col">horizontal_recoil </th>
      <th scope="col">vertical_recoil_first_10 </th>
      <th scope="col"> horizontal_recoil_first_10</th>
      <th scope="col"> vertical_recoil_first_20</th>
      <th scope="col"> horizontal_recoil_first_20</th>
      <th scope="col">head_dmg_range_1 </th>
      <th scope="col"> chest_dmg_range_1</th>
      <th scope="col"> stomach_dmg_range_1</th>
      <th scope="col"> limbs_dmg_range_1</th>
      <th scope="col">head_dmg_range_2 </th>
      <th scope="col"> chest_dmg_range_2</th>
      <th scope="col">stomach_dmg_range_2 </th>
      <th scope="col">limbs_dmg_range_2</th>
      <th scope="col">head_dmg_range_3 </th>
      <th scope="col"> chest_dmg_range_3</th>
      <th scope="col">stomach_dmg_range_3 </th>
      <th scope="col"> limbs_dmg_range_3</th>
      <th scope="col"> head_dmg_range_4</th>
      <th scope="col">chest_dmg_range_4 </th>
      <th scope="col"> stomach_dmg_range_4</th>
      <th scope="col"> limbs_dmg_range_4</th>
      <th scope="col">range_1 </th>
      <th scope="col">range_2 </th>
      <th scope="col">range_3</th>
      <th scope="col"> range_3_used</th>
      <th scope="col">range_4 </th>
      <th scope="col"> range_4_used</th>
      <th scope="col"> burst</th>
      <th scope="col">game </th>
     
    </tr>
  </thead>
  <tbody>
 
    <% @weapons.each do |w| %>
      
        <tr>
        <th>  <%= w.name %> </th>
        <td> <%= w.rpm %></td>  
        <td> <%= w.magazine %></td>  
        <td> <%= w.reload_time %></td>  
        <td> <%= w.ads_time %></td> 
        <td> <%= w.sprint_to_fire %></td>  
        <td> <%= w.movement %></td>  
        <td> <%= w.ads_movement %></td>  
        <td> <%= w.hip_fire_cone %></td>  
        <td> <%= w.bullet_velocity %></td>  
         <td> <%= w.bounce %></td>  
        <td> <%= w.vertical_recoil %></td>  
        <td> <%= w.horizontal_recoil %></td>  
        <td> <%= w.vertical_recoil_first_10 %></td>  
        <td> <%= w.horizontal_recoil_first_10 %></td> 
        <td> <%= w.vertical_recoil_first_20 %></td>  
        <td> <%= w.horizontal_recoil_first_20 %></td>  
        <td> <%= w.head_dmg_range_1 %></td>  
        <td> <%= w.chest_dmg_range_1 %></td>  
        <td> <%= w.stomach_dmg_range_1 %></td>  
         <td> <%= w.limbs_dmg_range_1 %></td>  
        <td> <%= w.head_dmg_range_2 %></td>  
        <td> <%= w.chest_dmg_range_2 %></td>  
        <td> <%= w.stomach_dmg_range_2 %></td>  
        <td> <%= w.limbs_dmg_range_2 %></td> 
        <td> <%= w.head_dmg_range_3 %></td>  
        <td> <%= w.chest_dmg_range_3 %></td>  
        <td> <%= w.stomach_dmg_range_3 %></td>  
        <td> <%= w.limbs_dmg_range_3 %></td>  
        <td> <%= w.head_dmg_range_4 %></td>  
         <td> <%= w.chest_dmg_range_4 %></td>  
        <td> <%= w.stomach_dmg_range_4 %></td>  
        <td> <%= w.limbs_dmg_range_4 %></td>  
        <td> <%= w.range_1 %></td>  
        <td> <%= w.range_2 %></td> 
        <td> <%= w.range_3 %></td>  
        <td> <%= w.range_3_used %></td>  
        <td> <%= w.range_4 %></td>  
        <td> <%= w.range_4_used %></td>  
        <td> <%= w.burst %></td>  
        <td> <%= w.game %></td>  
        
        </tr>
      
    <% end %>
      
   
   
  </tbody>
</table>


    
  </div>
  <div class="col-lg-1">
  </div>
</div>


