

<h1>@grip_recoils Chart for  <%= @grip.name %>  in <%= @weapon.name %> <%= link_to new_api_v1_weapon_grip_grip_recoil_path do  %>
<button class="btn btn-outline-info"> Add Recoil </button>
<% end %></h1> 

<br><br>

<br>

<%= render  partial: "shared/indexrecoil/mathrecoilcolumn.html",
    locals: {weapon: @weapon, attachment: @grip, array_of_recoils: @grip_recoils, adress_path: "edit_api_v1_weapon_grip_grip_recoil_path" } %>


<%= render  partial: "shared/indexrecoil/averagerecoil", locals: {array_of_recoils: @grip_recoils} %>

<%= render  partial: "shared/indexrecoil/netrecoil", locals: {weapon: @weapon, array_of_recoils: @grip_recoils} %>

<br>

<%= render  partial: "shared/indexrecoil/attachmentrecoilbar", locals: { weapon: @weapon, attachment: @grip} %>

<%= render  partial: "shared/indexrecoil/weaponrecoilbar", locals: {f: @weapon} %>
