<h1> Add  ONE RECOIL CHART FOR <%= @grip.name%> <%= @weapon.name%> </h1>


<%= form_with model: [:api, :v1, @weapon, @grip, @grip_recoil], local: true do |f|%>
        
        <%= render  partial: "shared/recoilAttachment", locals: {f: f, attachement: @grip} %>

      
        
        

        <% end%>