<h1> Add  ONE RECOIL CHART FOR <%= @canon.name%> <%= @weapon.name%> </h1>


<%= form_with model: [:api, :v1, @weapon, @canon, @canon_recoil], local: true do |f|%>
        
        <%= render  partial: "shared/recoilAttachment", locals: {f: f, attachement: @canon} %>

      

        <% end%>

<br>
      <%=  link_to   api_v1_weapon_canon_canon_recoil_path(@weapon, @canon, @canon_recoil), method: :delete, data: {confirm: "Are you sure ?"} do %>
                <button class="btn btn-outline-info "> DELETE THIS RECOIL SPREAD FROM THE DB</button>
      <% end %>


