<h1> Add  ONE RECOIL CHART FOR <%= @canon.name%> <%= @weapon.name%> </h1>


<%= form_with model: [:api, :v1, @weapon, @canon, @canon_recoil], local: true do |f|%>
        
        <%= render  partial: "shared/recoilAttachment", locals: {f: f, attachement: @canon} %>

      
        
        

        <% end%>