body {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}
nav {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    text-shadow: 2px 2px 2px rgba(122, 115, 115, 0.55);
    -webkit-box-shadow: 5px 5px 15px 5px  #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
}

h1 {
    color: lightgray;
    font-weight: 800;
}

form {
    color: white;
}

.nav-button{
    font-size: 150%;
}

.nav-div{
   margin-right: 50%;
}

.cardColumn {
    margin-bottom: 10px;
  
}
.text-class {
    border: red solid 5px; 
}

.separator{
    border-top: 3px double white;

}

.weapon-name-table {
    font-size: 1.5em;
    color: lightgray;

}


.btn-grad {background-image: linear-gradient(to right, #16222A 0%, #3A6073  51%, #16222A  100%)}
.btn-grad {
   margin: 5px;
   padding: 5px 15px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 5px rgb(142, 204, 240);
   border-radius: 10px;
   display: block;
   height: 50px;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

.active-button{
    color: rgb(81, 198, 233);
    box-shadow: 0 0 15px rgb(142, 204, 240);
}

.button-text {
    padding-top: 9px;
    align-items: center;
}

.body-app{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-flex{
    flex: 1 0 auto;

}

.footer{
    flex-shrink: 0;


}

.recoil-hip{
    color: white
}
