.button-test{
  -webkit-box-shadow: -2px 0px 10px 1px #23272b; 
box-shadow: -2px 0px 10px 1px #23272b;
  }



@import url(https://fonts.googleapis.com/css?family=Roboto:900);

$spotOne: #343a40;
$spotTwo: #343a40;
$spotThree: #343a40;

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.fancyButton {
  position: relative;
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;

  padding-right: 0.5rem;
  padding-left: 0.5rem;
  font-size: 1rem;
  line-height: 3rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient( 160deg, $spotThree, $spotTwo );
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  box-shadow: 
    0 0 0 0 $spotTwo,
    0.5rem 0.5rem 30px mix(black, $spotOne, 50%);
  transition: box-shadow 0.6s;
  
  &:hover {
    box-shadow: 
      0 0 60px 2px $spotTwo,
      0.5rem 0.5rem 30px mix(black, $spotOne, 50%);
  }
  
  &:after {
    content: '';
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    border-radius: 5px;
    background-image: linear-gradient( 170deg, rgba(white, 0.3), rgba(white, 0) );
    pointer-events: none;
  }
}
  
.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 700px;
  width: 500px;
  min-height: 100%;
  min-width: 90%;;
  background-color: #343a40;
  border-radius: 3%;
  z-index: 1010;

  .modal-title{
    text-align: center;
  }
}

 .overlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.644);

 }

 .color-change{
   color: white;
 }

 .menu-top  {
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
 }

 .menu-bottom  {
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  
 }

 .red {
  color: red;
}

.green {
  color: green;
}

.orange {
  color: rgb(219, 149, 68);
}

.dpsMetaChart {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  
}

.need-a-top-margin {
  margin-bottom: 2px;
}

.blog-part{
display: flex;

justify-content: center;

}

.blog-body{
  color:white;
}

.Modal-mini {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  // height: 300px;
  width: 350px;
  min-height: 90%;
  // min-width: 90%;;
  background-color: rgb(73, 71, 71);
  border-radius: 3%;
  z-index: 1010;

  .modal-title{
    text-align: center;
  }
}

.recharts-legend-item-text {
  cursor: pointer;
}