<h1> Add  ONE RECOIL CHART FOR <%= @laser.name%> <%= @weapon.name%> </h1>


<%= form_with model: [:api, :v1, @weapon, @laser, @laser_recoil], local: true do |f|%>
        
        <%= render  partial: "shared/recoilAttachment", locals: {f: f, attachement: @laser} %>

      
        
        

        <% end%>

         <br>
      <%=  link_to   api_v1_weapon_laser_laser_recoil_path(@weapon, @laser, @laser_recoil), method: :delete, data: {confirm: "Are you sure ?"} do %>
                <button class="btn btn-outline-info "> DELETE THIS RECOIL SPREAD FROM THE DB</button>
      <% end %>