<h1> Add  ONE RECOIL CHART FOR <%= @laser.name%> <%= @weapon.name%> </h1>


<%= form_with model: [:api, :v1, @weapon, @laser, @laser_recoil], local: true do |f|%>
        
        <%= render  partial: "shared/recoilAttachment", locals: {f: f, attachement: @laser} %>

      
        
        

        <% end%>