// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.content-creator-column {
    text-align: center;

}



  .no-link-decoration a {
    text-decoration: none;
    color: black;
    text-shadow: 2px 2px 2px rgba(206,89,55,0.55);

  }
  .no-link-decoration a:hover {
    text-decoration: none;
    color: black;

  }

  .mini-card{
    margin-bottom: 20px;
    -webkit-box-shadow: 5px 5px 15px 5px  #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
  }

  .big-card{
    -webkit-box-shadow: 5px 5px 15px 5px  #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
    border: 1px solid white;
  }

  .first-one{
    margin-bottom: 20px;
  }

  .body-css{
    // background-color: rgb(236, 236, 243);
    background-color: #20bf55;
    background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);

  }

  .admin-bar{
    display: flex;
    background-color: rgb(0, 0, 0);
    height: 60px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-evenly;
  }
 
.title-blog-show{
  text-align: center;
  margin-top: 20px;

}

.date-blog-show{
  text-align: center;
  color: lightgray;
}

.title-image-show{
  border: solid 2px white;
}

.image-container{
  display: flex;
  justify-content: center;

}

.text-area-show{
  color: rgb(238, 245, 245);
}

.show-admin{
  display: flex;
  justify-content: start;
  
}

.show-admin-button{
  margin: 5px;
  border: 2px solid white;
}

#paginate-links{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.jumbo-box{
  position: relative;
  color: white;
}

.big-text{
  -webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: black;
  color: white;
  text-shadow: 1px 2px 1px rgb(136, 136, 136);
}

.small-text{
 font-size: smaller;

}


#top-text{
  font-size: 2em;
}


.body-style{
  color:rgb(235, 224, 224) ;
}

#disqus_thread {
  color: #ffffff;
  }

  .disqus-placement{
    margin-top: 200px;
  }