<h1> Edit  ONE RECOIL CHART FOR <%= @underbarrel.name%> <%= @weapon.name%> </h1>


<%= form_with model: [:api, :v1, @weapon, @underbarrel, @underbarrel_recoil], local: true do |f|%>
        
        <%= render  partial: "shared/recoilAttachment", locals: {f: f, attachement: @underbarrel} %>

      
        
        

        <% end%>

         <br>

         <%=  link_to   api_v1_weapon_underbarrel_underbarrel_recoil_path(@weapon, @underbarrel, @underbarrel_recoil), method: :delete, data: {confirm: "Are you sure ?"} do %>
                <button class="btn btn-outline-info "> DELETE THIS RECOIL SPREAD FROM THE DB</button>
      <% end %>