<h1> Add  ONE RECOIL CHART FOR <%= @underbarrel.name%> <%= @weapon.name%> </h1>


<%= form_with model: [:api, :v1, @weapon, @underbarrel, @underbarrel_recoil], local: true do |f|%>
        
        <%= render  partial: "shared/recoilAttachment", locals: {f: f, attachement: @underbarrel} %>

      
        
        

        <% end%>