<div class="row">
  <div class="col-md-8 offset-2">
    <div class="container p-3 my-3 border text-center">
      <h1> Weapons Types Creations </h1>
    </div>
    <div class="container p-3 my-3 border">
      <%= form_with model: @type, url: api_v1_type_path, local: true do |f|%>
        <div class="form-group">
          <%= f.label :name, "Type Name" %>
          <%= f.text_field :name, {class: "form-control", placeholder: "Enter weapons name"} %>
        </div>
        <div class="form-group">
          <%= f.label :game, "Game from" %>
          <%= f.text_field :game , {class: "form-control", placeholder: "Enter game name"}  %>
        </div>
        <div class="form-group">
          <%= f.label :description, "Weapons Types description" %>
          <%= f.text_area :description, {class: "form-control", placeholder: "Enter short description"} %>
        </div>
        <%= f.submit "Edit Weapon Type", class:"btn btn-outline-success " %>
      <% end %>
    </div>
  </div>
</div>
