<div class="row">
  <div class="col-md-8 offset-2">
    <div class="container p-3 my-3 border text-center">
      <h1>Weapons List Types</h1>
    </div>
    <div class="container p-3 my-3 border text-center">
      <% @types.each do |t| %>
        <div class="card">
          <ul>
            <h2> <%= t.name%> from <%= t.game %> </h2>
            <li>Types :
              <%= link_to  "Show", api_v1_type_path(t) %>
              <%= link_to  "Edit", edit_api_v1_type_path(t)%>
              <%= link_to  "Delete", api_v1_type_path(t), method: :delete,  data: {confirm: "are you sure ?"}  %></li>
            <li> Add a weapon in <%= link_to  t.name , new_api_v1_weapon_path(:id => t.id) %></li>
            <li>see all weapons in <%= link_to t.name , api_v1_weapons_path(:id => t.id) %> (<%= t.weapons.count%>)  </li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
