
        <div class="form-group">
          <%= f.label :name, "Type Name" %>
          <%= f.text_field :name, {class: "form-control", placeholder: "Enter weapons name"} %>
        </div>
        <div class="form-group">
          <%= f.label :rpm, "Round Per minute" %>
          <%= f.number_field :rpm, {class: "form-control", placeholder: "round per minute"} %>
        </div>
        <div class="form-group">
          <%= f.label :reload_time, "reload_time" %>
          <%= f.number_field :reload_time, {class: "form-control", placeholder: "reload_time"} %>
        </div>
        <div class="form-group">
          <%= f.label :ads_time, "time to ads" %>
          <%= f.number_field :ads_time, {class: "form-control", placeholder: "ads time"} %>
        </div>
        <div class="form-group">
          <%= f.label :sprint_to_fire, "sprint to fire" %>
          <%= f.number_field :sprint_to_fire, {class: "form-control", placeholder: "sprint to fire time"} %>
        </div>
        <div class="form-group">
          <%= f.label :movement, "movement speed" %>
          <%= f.number_field :movement, {class: "form-control", placeholder: "movement speed"} %>
        </div>
       
        <div class="form-group">
          <%= f.label :hip_fire_cone, "hip fire cone" %>
          <%= f.number_field :hip_fire_cone, {class: "form-control", placeholder: "hip fire cone"} %>
        </div>
        <div class="form-group">
          <%= f.label :bullet_velocity, "bullet velocity" %>
          <%= f.number_field :bullet_velocity, {class: "form-control", placeholder: "bullet velocity"} %>
        </div>
        <div class="form-group">
          <%= f.label :bounce, "bounce" %>
          <%= f.number_field :bounce, {class: "form-control", placeholder: "bounce"} %>
        </div>
        <div class="form-group">
          <%= f.label :vertical_recoil, "vertical recoil" %>
          <%= f.number_field :vertical_recoil, {class: "form-control", placeholder: "vertical recoil"} %>
        </div>
        <div class="form-group">
          <%= f.label :horizontal_recoil, "horizontal_recoil" %>
          <%= f.number_field :horizontal_recoil, {class: "form-control", placeholder: "horizontal_recoil recoil"} %>
        </div>
        <div class="form-group">
          <%= f.label :vertical_recoil_first_10, "vertical_recoil_first_10" %>
          <%= f.number_field :vertical_recoil_first_10, {class: "form-control", placeholder: "vertical_recoil_first_10"} %>
        </div>
        <div class="form-group">
          <%= f.label :horizontal_recoil_first_10, "horizontal_recoil_first_10" %>
          <%= f.number_field :horizontal_recoil_first_10, {class: "form-control", placeholder: "horizontal_recoil_first_10"} %>
        </div>
        <div class="form-group">
          <%= f.label :vertical_recoil_first_20, "vertical_recoil_first_20" %>
          <%= f.number_field :vertical_recoil_first_20, {class: "form-control", placeholder: "vertical_recoil_first_20"} %>
        </div>
        <div class="form-group">
          <%= f.label :horizontal_recoil_first_20, "horizontal_recoil_first_20" %>
          <%= f.number_field :horizontal_recoil_first_20, {class: "form-control", placeholder: "horizontal_recoil_first_20"} %>
        </div>
        <div class="form-group">
          <%= f.label :range_1, "range_1" %>
          <%= f.number_field :range_1, {class: "form-control", placeholder: "range_1"} %>
        </div>
         <div class="form-group">
          <%= f.label :range_2, "range_2" %>
          <%= f.number_field :range_2, {class: "form-control", placeholder: "range_2"} %>
        </div>
         <div class="form-group">
          <%= f.label :range_3, "range_3" %>
          <%= f.number_field :range_3, {class: "form-control", placeholder: "range_3"} %>
        </div>

        <div class="form-group">
          <%= f.label :range_4, "range_4" %>
          <%= f.number_field :range_4, {class: "form-control", placeholder: "range_4"} %>
        </div>

            <div class="form-group">
          <%= f.label :range_3_used, "Range 3 is used ? " %>
          <%= f.check_box :range_3_used %>
        </div>
         <div class="form-group">
          <%= f.label :range_4_used, "Range 4 is used ? " %>
          <%= f.check_box :range_4_used %>
        </div>

        <div class="form-group">
          <%= f.label :head_dmg_range_1, "head_dmg_range_1" %>
          <%= f.number_field :head_dmg_range_1, {class: "form-control", placeholder: "head_dmg_range_1"} %>
        </div>
        <div class="form-group">
          <%= f.label :chest_dmg_range_1, "chest_dmg_range_1" %>
          <%= f.number_field :chest_dmg_range_1, {class: "form-control", placeholder: "chest_dmg_range_1"} %>
        </div>
        <div class="form-group">
          <%= f.label :stomach_dmg_range_1, "stomach_dmg_range_1" %>
          <%= f.number_field :stomach_dmg_range_1, {class: "form-control", placeholder: "stomach_dmg_range_1"} %>
        </div>
        <div class="form-group">
          <%= f.label :limbs_dmg_range_1, "limbs_dmg_range_1" %>
          <%= f.number_field :limbs_dmg_range_1, {class: "form-control", placeholder: "limbs_dmg_range_1"} %>
        </div>
        <div class="form-group">
          <%= f.label :head_dmg_range_2, "head_dmg_range_2" %>
          <%= f.number_field :head_dmg_range_2, {class: "form-control", placeholder: "head_dmg_range_2"} %>
        </div>
        <div class="form-group">
          <%= f.label :chest_dmg_range_2, "chest_dmg_range_2" %>
          <%= f.number_field :chest_dmg_range_2, {class: "form-control", placeholder: "chest_dmg_range_2"} %>
        </div>
        <div class="form-group">
          <%= f.label :stomach_dmg_range_2, "stomach_dmg_range_2" %>
          <%= f.number_field :stomach_dmg_range_2, {class: "form-control", placeholder: "stomach_dmg_range_2"} %>
        </div>
        <div class="form-group">
          <%= f.label :limbs_dmg_range_2, "limbs_dmg_range_2" %>
          <%= f.number_field :limbs_dmg_range_2, {class: "form-control", placeholder: "limbs_dmg_range_2"} %>
        </div>
        <div class="form-group">
          <%= f.label :head_dmg_range_3, "head_dmg_range_3" %>
          <%= f.number_field :head_dmg_range_3, {class: "form-control", placeholder: "head_dmg_range_3"} %>
        </div>
        <div class="form-group">
          <%= f.label :chest_dmg_range_3, "chest_dmg_range_3" %>
          <%= f.number_field :chest_dmg_range_3, {class: "form-control", placeholder: "chest_dmg_range_3"} %>
        </div>
        <div class="form-group">
          <%= f.label :stomach_dmg_range_3, "stomach_dmg_range_3" %>
          <%= f.number_field :stomach_dmg_range_3, {class: "form-control", placeholder: "stomach_dmg_range_3"} %>
        </div>
        <div class="form-group">
          <%= f.label :limbs_dmg_range_3, "limbs_dmg_range_3" %>
          <%= f.number_field :limbs_dmg_range_3, {class: "form-control", placeholder: "limbs_dmg_range_3"} %>
        </div>
        <div class="form-group">
          <%= f.label :head_dmg_range_4, "head_dmg_range_4" %>
          <%= f.number_field :head_dmg_range_4, {class: "form-control", placeholder: "head_dmg_range_4"} %>
        </div>
        <div class="form-group">
          <%= f.label :chest_dmg_range_4, "chest_dmg_range_4" %>
          <%= f.number_field :chest_dmg_range_4, {class: "form-control", placeholder: "chest_dmg_range_4"} %>
        </div>
        <div class="form-group">
          <%= f.label :stomach_dmg_range_4, "stomach_dmg_range_4" %>
          <%= f.number_field :stomach_dmg_range_4, {class: "form-control", placeholder: "stomach_dmg_range_4"} %>
        </div>
        <div class="form-group">
          <%= f.label :limbs_dmg_range_4, "limbs_dmg_range_4" %>
          <%= f.number_field :limbs_dmg_range_4, {class: "form-control", placeholder: "limbs_dmg_range_4"} %>
        </div>
        <div class="form-group">
          <%= f.label :spread_image, "Basic Spread image" %>
          <%= f.text_field :spread_image, {class: "form-control", placeholder: "spread url"} %>
        </div>
        
        