<%= form_with model: [:api, :v1, weapon, attachment], local: true do |f|   %>

<h1> Attachment recoil data(equal to net recoil) : <%= attachment.name  %> </h1>

<table class="table-dark table">

    <thead>
    <th scope="col">Vertical 10 score</th>
      <th scope="col">Vertical 20 score</th>
      <th scope="col">Vertical full score</th>
      
      <th scope="col">Horizontal 10 score</th>
      <th scope="col">Horizontal 20 score</th>
      <th scope="col">Horizontal full score</th>

    </thead>
  <tbody>
      <td><%= f.number_field :vertical_recoil_first_10, {class: "form-control", placeholder: "vertical_recoil 10 bullets"} %> </td>
      <td><%= f.number_field :vertical_recoil_first_20, {class: "form-control", placeholder: "vertical_recoil 20 bullets"} %></td>
      <td><%= f.number_field :vertical_recoil, {class: "form-control", placeholder: "Vertical recoil"} %></td>

      <td><%= f.number_field :horizontal_recoil_first_10, {class: "form-control", placeholder: "horizontal_recoil 10 bullets"} %></td>
      <td><%= f.number_field :horizontal_recoil_first_20, {class: "form-control", placeholder: "horizontal_recoil 20 bullets"} %></td>
      <td><%= f.number_field :horizontal_recoil, {class: "form-control", placeholder: "horizontal_recoil full spread"} %></td>
     </tbody>

</table>

    <%= f.submit "save Attachment recoil" , class: "btn btn-outline-info "%> 


<% end %>