 <tr>
      <th> Average Recoil </th>
      
      <td> <%= attachment_recoilMath("vertical_recoil_first_0", "vertical_recoil_first_10", array_of_recoils )%></td>
      <td><%= attachment_recoilMath("vertical_recoil_first_0", "vertical_recoil_first_20", array_of_recoils) %></td>
      <td><%= attachment_recoilMath("vertical_recoil_first_0", "vertical_recoil", array_of_recoils) %></td>
      <td> <%= attachment_recoilMath( "horizontal_recoil_first_0", "horizontal_recoil_first_10", array_of_recoils) %></td>
      <td><%= attachment_recoilMath("horizontal_recoil_first_0", "horizontal_recoil_first_20", array_of_recoils) %></td>
      <td><%= attachment_recoilMath("horizontal_recoil_first_0", "horizontal_recoil", array_of_recoils) %></td>
</tr>