

<h1> Raw Recoil Data  for <%= attachment.name %></h1>

<table class="table table-dark">
  <thead>
   <tr>
      <th scope="col"><%= weapon.name %></th>
      <th scope="col">Vertical 0 point</th>
      <th scope="col">Vertical 10 point</th>
      <th scope="col">Vertical 20 point</th>
      <th scope="col">Vertical full point</th>
      <th scope="col">Horizontal 0 point</th>
      <th scope="col">Horizontal 10 point</th>
      <th scope="col">Horizontal 20 point</th>
      <th scope="col">Horizontal full point</th>
      

     
    </tr>
  </thead>
  <tbody>
    <% indice_table = 0 %>
    <% array_of_recoils.each do |r| %>
      <% indice_table += 1 %>
    <tr>
      <th scope="row"><%= link_to(indice_table, send(adress_path, weapon, attachment, r)) %> </th>
      <td><%= r.vertical_recoil_first_0 %> </td>
      <td><%= r.vertical_recoil_first_10 %></td>
      <td><%= r.vertical_recoil_first_20 %></td>
      <td><%= r.vertical_recoil %></td>
      <td><%= r.horizontal_recoil_first_0 %> </td>
      <td><%= r.horizontal_recoil_first_10 %></td>
      <td><%= r.horizontal_recoil_first_20 %></td>
      <td><%= r.horizontal_recoil %></td>
    </tr>
    <% end %>

    
  </tbody>
</table>


<h1> Recoil Data after math(starting pixel - target pixel) </h1>

<table class="table table-dark">
  <thead>
   <tr>
      <th scope="col"><%= weapon.name %></th>
      
      <th scope="col">Vertical 10 score</th>
      <th scope="col">Vertical 20 score</th>
      <th scope="col">Vertical full score</th>
      <th scope="col">Horizontal 10 score</th>
      <th scope="col">Horizontal 20 score</th>
      <th scope="col">Horizontal full score</th>
      

     
    </tr>
  </thead>

  <tbody>
      <% indice_table = 0 %>

    <% array_of_recoils.each do |r| %>
        <% indice_table += 1 %>
    <tr>
      <th scope="row"><%= link_to(indice_table, send(adress_path, weapon, attachment, r)) %> </th>
      <td><%= attachment_recoilColumn(r.vertical_recoil_first_0, r.vertical_recoil_first_10) %></td>
      <td><%= attachment_recoilColumn(r.vertical_recoil_first_0, r.vertical_recoil_first_20) %></td>
      <td><%= attachment_recoilColumn(r.vertical_recoil_first_0, r.vertical_recoil) %></td>
         <td><%= attachment_recoilColumn(r.horizontal_recoil_first_0, r.horizontal_recoil_first_10) %></td>
       <td><%= attachment_recoilColumn(r.horizontal_recoil_first_0, r.horizontal_recoil_first_10) %></td>
      <td><%= attachment_recoilColumn(r.horizontal_recoil_first_0, r.horizontal_recoil) %></td>
    </tr>
    <% end %>