

<tr>
      <th> Net Recoil <br>
      -Weapon Recoil + Average Recoil </th>
    
      <td> <%= weapon.vertical_recoil_first_10.abs -  attachment_recoilMath("vertical_recoil_first_0", "vertical_recoil_first_10", array_of_recoils).abs  %></td>
      <td><%=  weapon.vertical_recoil_first_20.abs  - attachment_recoilMath("vertical_recoil_first_0", "vertical_recoil_first_20", array_of_recoils)%></td>
      <td><%=  weapon.vertical_recoil.abs  - attachment_recoilMath("vertical_recoil_first_0", "vertical_recoil", array_of_recoils) %></td>
      <td> <%=  weapon.horizontal_recoil_first_10.abs  - attachment_recoilMath( "horizontal_recoil_first_0", "horizontal_recoil_first_10", array_of_recoils)  %></td>
      <td><%=  weapon.horizontal_recoil_first_20.abs  - attachment_recoilMath("horizontal_recoil_first_0", "horizontal_recoil_first_20", array_of_recoils)  %></td>
      <td><%=  weapon.horizontal_recoil.abs  - attachment_recoilMath("horizontal_recoil_first_0", "horizontal_recoil", array_of_recoils)  %></td>
    </tr>

      </tbody>
</table>