<h1> EDIT ONE RECOIL CHART FOR <%= @weapon.name%> </h1>



<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col"><%= @weapon.name %></th>
      <th scope="col">Vertical 0 point</th>
      <th scope="col">Vertical 10 point</th>
      <th scope="col">Vertical 20 point</th>
      <th scope="col">Vertical full point</th>
      <th scope="col">Horizontal 0 point</th>
      <th scope="col">Horizontal 10 point</th>
      <th scope="col">Horizontal 20 point</th>
      <th scope="col">Horizontal full point</th>
     
     
    </tr>
  </thead>
  <tbody>
     <%= form_with model: [:api, :v1, @weapon, @recoil], local: true do |f|   %>
    <tr>
      <th scope="row"> edit </th>
      <td><%= f.number_field :vertical_recoil_first_0, {class: "form-control", placeholder: "vertical_recoil starting pixel "} %> </td>
       <td><%= f.number_field :vertical_recoil_first_10, {class: "form-control", placeholder: "vertical_recoil 10 bullets"} %> </td>
      <td><%= f.number_field :vertical_recoil_first_20, {class: "form-control", placeholder: "vertical_recoil 20 bullets"} %></td>
      <td><%= f.number_field :vertical_recoil, {class: "form-control", placeholder: "Vertical recoil"} %></td>

      <td><%= f.number_field :horizontal_recoil_first_0, {class: "form-control", placeholder: "horizontal_recoil starting pixel"} %></td>
      <td><%= f.number_field :horizontal_recoil_first_10, {class: "form-control", placeholder: "horizontal_recoil 10 bullets"} %></td>
      <td><%= f.number_field :horizontal_recoil_first_20, {class: "form-control", placeholder: "horizontal_recoil 20 bullets"} %></td>
        <td><%= f.number_field :horizontal_recoil, {class: "form-control", placeholder: "horizontal_recoil full spread"} %></td>
      
    </tr>
     
    </tbody>
    </table>

       <%= f.submit "save " , class: "btn btn-outline-info "%> 
    <% end %>

     <br>

         <%=  link_to   api_v1_weapon_recoil_path(@weapon, @recoil), method: :delete, data: {confirm: "Are you sure ?"} do %>
                <button class="btn btn-outline-info "> DELETE THIS RECOIL SPREAD FROM THE DB</button>


<% end%>

        