<h1>Recoils Chart for <%= @weapon.name %> <%= link_to new_api_v1_weapon_recoil_path(@weapon) do  %>
<button class="btn btn-outline-info"> Add Recoil </button>
<% end %></h1> 


<br><br>

<h1> Raw Data </h1>

<table class="table table-dark">
  <thead>
   <tr>
      <th scope="col"><%= @weapon.name %></th>
      <th scope="col">Vertical 0 point</th>
      <th scope="col">Vertical 10 point</th>
      <th scope="col">Vertical 20 point</th>
      <th scope="col">Vertical full point</th>
      <th scope="col">Horizontal 0 point</th>
      <th scope="col">Horizontal 10 point</th>
      <th scope="col">Horizontal 20 point</th>
      <th scope="col">Horizontal full point</th>
      

     
    </tr>
  </thead>
  <tbody>
    <% indice_table = 0 %>
    <% @recoils.each do |r| %>
      <% indice_table += 1 %>
    <tr>
      <th scope="row"><%= link_to(indice_table, edit_api_v1_weapon_recoil_path(@weapon, r)) %> </th>
      <td><%= r.vertical_recoil_first_0 %> </td>
      <td><%= r.vertical_recoil_first_10 %></td>
      <td><%= r.vertical_recoil_first_20 %></td>
      <td><%= r.vertical_recoil %></td>
            <td><%= r.horizontal_recoil_first_0 %> </td>
         <td><%= r.horizontal_recoil_first_10 %></td>
       <td><%= r.horizontal_recoil_first_20 %></td>
      <td><%= r.horizontal_recoil %></td>
    </tr>
    <% end %>

    
  </tbody>
</table>
<br>
<h1> Recoil result after math </h1>

<table class="table table-dark">
  <thead>
   <tr>
      <th scope="col"><%= @weapon.name %></th>
      
      <th scope="col">Vertical 10 score</th>
      <th scope="col">Vertical 20 score</th>
      <th scope="col">Vertical full score</th>
      
      <th scope="col">Horizontal 10 score</th>
      <th scope="col">Horizontal 20 score</th>
      <th scope="col">Horizontal full score</th>
      

     
    </tr>
  </thead>

  <tbody>
      <% indice_table = 0 %>

    <% @recoils.each do |r| %>
        <% indice_table += 1 %>

    <tr>
      <th scope="row"><%= link_to(indice_table, edit_api_v1_weapon_recoil_path(@weapon, r)) %> </th>
      <td><%= recoilColumn(r.vertical_recoil_first_0, r.vertical_recoil_first_10) %></td>
      <td><%= recoilColumn(r.vertical_recoil_first_0, r.vertical_recoil_first_20) %></td>
      <td><%= recoilColumn(r.vertical_recoil_first_0, r.vertical_recoil) %></td>
         <td><%= recoilColumn(r.horizontal_recoil_first_0, r.horizontal_recoil_first_10) %></td>
       <td><%= recoilColumn(r.horizontal_recoil_first_0, r.horizontal_recoil_first_10) %></td>
      <td><%= recoilColumn(r.horizontal_recoil_first_0, r.horizontal_recoil) %></td>
    </tr>
    <% end %>

    <tr>
      <th> moy </th>
      
      <td> <%= recoilMath("vertical_recoil_first_0", "vertical_recoil_first_10")%></td>
      <td><%= recoilMath("vertical_recoil_first_0", "vertical_recoil_first_20") %></td>
      <td><%= recoilMath("vertical_recoil_first_0", "vertical_recoil") %></td>
      <td> <%= recoilMath( "horizontal_recoil_first_0", "horizontal_recoil_first_10") %></td>
      <td><%= recoilMath("horizontal_recoil_first_0", "horizontal_recoil_first_20") %></td>
      <td><%= recoilMath("horizontal_recoil_first_0", "horizontal_recoil") %></td>
    </tr>
  </tbody>
</table>
<br>
<h1> Update weapon recoil data down there  </h1>

<%= form_with model: [:api, :v1, @weapon], local: true do |f|   %>
<table class="table-dark table">

    <thead>
    <th scope="col">Vertical 10 score</th>
      <th scope="col">Vertical 20 score</th>
      <th scope="col">Vertical full score</th>
      
      <th scope="col">Horizontal 10 score</th>
      <th scope="col">Horizontal 20 score</th>
      <th scope="col">Horizontal full score</th>

    </thead>
  <tbody>

       <td><%= f.number_field :vertical_recoil_first_10, {class: "form-control", placeholder: "vertical_recoil 10 bullets"} %> </td>
      <td><%= f.number_field :vertical_recoil_first_20, {class: "form-control", placeholder: "vertical_recoil 20 bullets"} %></td>
      <td><%= f.number_field :vertical_recoil, {class: "form-control", placeholder: "Vertical recoil"} %></td>

      <td><%= f.number_field :horizontal_recoil_first_10, {class: "form-control", placeholder: "horizontal_recoil 10 bullets"} %></td>
      <td><%= f.number_field :horizontal_recoil_first_20, {class: "form-control", placeholder: "horizontal_recoil 20 bullets"} %></td>
    <td><%= f.number_field :horizontal_recoil, {class: "form-control", placeholder: "horizontal_recoil full spread"} %></td>
     </tbody>

</table>
 
    <%= f.submit "save " , class: "btn btn-outline-info "%> 
<% end %>