<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Warzone Weapons </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <script src="https://kit.fontawesome.com/3868d46130.js" crossorigin="anonymous"></script>
    <meta name="description" content="warzone weapons stats and loadout builder app, compare your weapons with the Meta !"/>
  </head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MCLMPFG9F9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MCLMPFG9F9');
</script>


  <body class="body-app">
    <%= render "shared/nav"%>
    <%= render "shared/flash"%>
    
    <div class="container-fluid content-flex">
        <%= yield %>
    </div>


 <footer class="footer py-2 bg-light">
    <span class="text-muted">
    Copyright © 2021 Warzone Weapons. All Call of Duty references are belonging to their rightfull owner.
    All links to other website are not under our control
    <a href="mailto:warzonweapons@gmail.com">warzonweapons@gmail.com </a>
     </span>
</footer>

  </body>

 
</html>
